<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template">
<link rel="stylesheet" type="text/css"
href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Ajout et modification des Categories</title>
</head>
<body>
<div layout:fragment="Mycontent">
<div class="container mt-5">
<div class="card">
<div class="card-header" th:if="${mode=='new'}"> <h1 style="text-align:center;">Ajout Categories</h1> </div>
 <div class="card-header" th:if="${mode=='edit'}"> <h1 style="text-align:center;">Modification Categorie</h1></div>
<div class="card-body">
 <form th:action="@{saveCategorie}" method="post">
 <div class="form-group">
<label class="control-label" hidden>ID Categorie :</label>
<input type="hidden" name="idCat" class="form-control"
th:value="${categories.idCat}" />
 </div>

<div class="form-group">
 <label class="control-label">Nom Categorie :</label>
 <input type="text" name="nomCat" class="form-control" th:value="${categories.nomCat}" required/>

</div>
<div class="form-group">
<label class="control-label">Description Categories :</label>
<input type="text" name="descriptionCat" class="form-control" th:value="${categories.descriptionCat}" required/>

</div>
 <div style="text-align:center;margin-top:20px;">
 <button type="submit" class="btn btn-primary">Valider</button>
 </div>
 </div>
</form>
</div>
 </div>
 </div>
 </div>
</body>
</html>
