<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Catégories</title>
</head>
<body>
    <div layout:fragment="Mycontent">
    <div class="container mt-5">
    <div class="card">
     <div class="card-header">
     <h3>Liste des Catégories</h3>
     </div>
     <div class="card-body"> 
     <table class="table table-striped" style="text-align: center;">
     <tr>
     <th>ID</th><th>Nom Catégorie</th><th>Description Catégorie</th><th sec:authorize="hasRole('ADMIN')" colspan="2">Actions</th>
     </tr> 
     <tr th:each="c:${categories}">
     <td th:text="${c.idCat}"></td>
     <td th:text="${c.nomCat}"></td>
        <td th:text="${c.descriptionCat}"></td>
     <td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger" onclick="return confirm('Etes-vous sur ?')" th:href="@{supprimerCategorie(id=${c.idCat})}">Supprimer</a></td>
   <td sec:authorize="hasRole('ADMIN')"><a class="btn btn-success" th:href="@{modifierCategorie(id=${c.idCat})}">Editer</a></td>
     </tr> 
     </table>
     
     </div>
    </div>
    </div>
    </div>
    </body>
</html>